.page{
    min-height: 100vh;
    @include flex(center, center, column);
    background-image: none;
    padding-top: 50px;
    &__header{
        width: 90vw;
    }
    &__img{
        position: absolute;
        left: 0;
        top: 0;
        width: 50vw;
        height: 100vh;
        z-index: -1;
        overflow: hidden;

        img{
            height: 100%;
        }
    }
    &__describing{
        @include flex(flex-start, center, column);
        align-self: flex-end;
        padding: 0 50px;
        width: 50vw;
        flex-grow: 1;
    }
    .describing__container{
        max-width: 570px;
    }
    &__service-naming{
        margin-bottom: 50px;
        font-size: 50px;
    }
    &__text{
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 150%;
    }
    &__button{
        margin-bottom: 100px;
        max-width: 100px;
    }

}