//for main
$font-stack: Forum;
$font-size-button: 12px;
$transition-time: .4s;

//for sidebar
$font-size-sidebar: 35px;
$font-size-sidebar-hover: 45px;
$nav-link: rgba(255, 255, 255, 0.5);
$nav-link-hover: white;
$transition-time: .4s;
