.page1{
    background-image: url(../img/page1-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    &__content{
        @include flex(center, space-between, column);
    }
    &__heading{
        
        margin-bottom: 40px;
    }
    &__text{
        
        margin-bottom: 80px;
    }
    &__button:first-child{
        margin-right: 20px;
    }
}