// mixins
@mixin flex ($align, $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@import'null_style';
@import'header';
@import'page1';
@import'page2';
@import'page3';


body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    @include flex(center, space-evenly, column);
    min-height: 100vh;
}

.button{
    color: white;
    padding: 20px;
    border: 1px solid white;
    font-size: 20px;
    transition: .4s;
    &:hover{
        background-color: rgba(4, 216, 195, 0.37);
    }
    &_green-bg{
        background-color: #00897B;
        border-color: #00897B;
    }
    &_black-border{
        color: black;
        border-color: black;
    }
}

.intro{
    @include flex(center, space between, column);
    width: 50vw;
    &__heading{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 15px;
        text-align: center;
        line-height: 1.6em;
    }
}

@import'print';