*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.096);
    padding-bottom: 50px;
}

#right-wheel,
#left-wheel{
    animation: wheel 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#man-bike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#cap{
    animation: cap 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#background{
    animation: bg 3s ease-in-out infinite alternate;
}

.leaf{
    position: absolute;
    width: 50px;
    animation: leaf 2s ease-in infinite;
    transform-origin: bottom;
    transition: .4s linear;
}
.leaf:hover{
    opacity: 0;
}
.leaf2{
    animation-delay: -1s;
    animation-duration: 1.7s;
    top: 60px;
}
.leaf3{
    animation-delay: -.5s;
    animation-duration: 4s;
    top: 120px;
}

@keyframes wheel{
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}

@keyframes bike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}

@keyframes cap{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(40%);
    }
}

@keyframes bg{
    from{
        transform: skewX(0deg);
    }
    to{
        transform: skewX(5deg);
    }
}

@keyframes leaf{
    from{
        transform: rotateZ(360deg);
        right: -10%;
    }
    to{
        transform: rotateZ(0deg);
        right: 100%;
    }
}