@media (max-width: 820px){
    .modal-bg{
        .modal{
            width: 90%;
            max-width: 370px;
            .img{
                display: none;
            }
            .holder{
                width: 100%;
            }
        }
    }

}