@media (max-width: 1270px){
    .page{
        &__header{
            margin-bottom: 550px;
        }
        &__img{
            width: 100%;
            height: 60vh;
            top: 140px;
        }
        &__describing{
            align-self: center;
            width: 90vw;
            margin-bottom: 100px;
        }
        .describing__container{
            width: 100%;
            max-width: unset;
        }
        &__slider{
            width: 100%;
            max-width: unset;
            order: 0;
        }
        .slider__img{
            width: 20vw;
        }
        &__button{
            margin-bottom: 30px;
        }
        &__footer{
            display: flex;
            border-color: #e9e9e970;
        }
    }
}