@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
h1{
    font-size: 50px;
    font-weight: lighter;
    line-height: 1.5em;
}
h2{
    font-size: 40px;
    font-weight: 400;
}
p{
    font-size: 17px;
    line-height: 1.5em;
}

.button,
input,
textarea{
    border: 1px solid;
    border-radius: 25px;
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
    transition: .4s;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.267);
}


.grid-container{
    height: 300vh;
    display: grid;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100vh 50vh 50vh 100vh;
}

.start-photo{
    grid-column: span 6 / auto;
    background-image: url('img/girl.png');
    background-position: center;
    background-size: cover;
}
.start-text{
    grid-column: span 3 / auto;
    padding: 10% 20%;
}
.long-text{
    grid-row: span 2;
    grid-column: span 4;
    background-image: url('img/long-text.png');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10% 10%;
}
.text1{
    grid-column: span 5;
    background-image: url('img/text1.png');
    background-position: center;
    background-size: cover;
    padding: 10% 10%;
}
.text2{
    grid-column: span 5;
    background-image: url('img/text2.png');
    background-position: center;
    background-size: cover;
    padding: 10% 10%;
    color: white;
}
.text2 .button{
    color: white;
}
.designed-by{
    grid-column: span 3;
    background-image: url('img/designed.png');
    background-position: center;
    background-size: cover;
    padding: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    
.form{
    grid-column: span 6;
    background-image: url('img/form.png');
    background-position: center;
    background-size: cover;
    padding: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1em;
    grid-template-areas:
    'name email'
    'message message';
}
input{
    color: #ffffff;
}
input::-webkit-input-placeholder{
    color: white;
}
input:first-child{
    grid-area: name;
}
input:nth-child(2){
    grid-area: email;
}
textarea{
    grid-area: message;
    color: white;
}
textarea::-webkit-input-placeholder{
    color: white;
}